Getting error while sending put request after updating library

Hello @shamblett ,
I have updated coap 2.0.1 library, but I am getting following error most or times, this issue I never faced with 2.0.0 version. Please guide.

I/flutter (27746): 2021-01-01 18:07:52.530: INFO: >> Reliability - Scheduling transmission for 
I/flutter (27746): <<< Request Message >>>
I/flutter (27746): Type: 0, Code: PUT, Id: 18429, Token: 0000589a, 
I/flutter (27746): Options =
I/flutter (27746): [
I/flutter (27746): If-Match : 
I/flutter (27746): Uri Host : Uri-Host: 192.168.1.18
I/flutter (27746): E-tags : 
I/flutter (27746): None
I/flutter (27746): Uri Port : 5683
I/flutter (27746): Location Paths: 
I/flutter (27746): Uri Paths : inline
I/flutter (27746): Content-Type : 0
I/flutter (27746): Max Age : None
I/flutter (27746): Uri Queries : Uri-Query: proj_abced_567qwfcsd/flid00009/rmid999/arid333
I/flutter (27746): Accept : 0
I/flutter (27746): Location Queries : 
I/flutter (27746): Proxy Uri : None
I/flutter (27746): Proxy Scheme : None
I/flutter (27746): Block 1 : None
I/flutter (27746): Block 2 : None
I/flutter (27746): Observe : -1
I/flutter (27746): Size 1 : 0
I/flutter (27746): Size 2 : 0
I/flutter (27746): ], 
I/flutter (27746): Payload :
I/flutter (27746): {"unicastaddr":4,"control":1,"setlevel":1,"udptstate":true,"curtain_delay_ms":100,"controlmode":1,"entityid":1,"setlevelpercent":0}
I/flutter (27746): 2021-01-01 18:07:52.530: INFO: >> Reliability - sending request, failed transmission count: 0
I/flutter (27746): 2021-01-01 18:07:52.530: INFO: >> Reliability - Retransmission timeout is 520 ms
I/flutter (27746): 2021-01-01 18:07:52.532: INFO: >> Matcher - Stored open request by KeyID[18429]) + KeyToken[0000589a]
E/flutter (27746): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: NoSuchMethodError: The method 'newMessageEncoder' was called on null.
E/flutter (27746): Receiver: null
E/flutter (27746): Tried calling: newMessageEncoder()
E/flutter (27746): #0      Object.noSuchMethod (dart:core-patch/object_patch.dart:51:5)
E/flutter (27746): #1      CoapEndPoint._serializeRequest (package:coap/src/net/coap_endpoint.dart:225:28)
E/flutter (27746): #2      CoapEndPoint.sendRequest (package:coap/src/net/coap_endpoint.dart:180:21)
E/flutter (27746): #3      CoapStackBottomLayer.sendRequest (package:coap/src/stack/coap_layer_stack.dart:110:21)
E/flutter (27746): #4      CoapNextLayer.sendRequest (package:coap/src/stack/coap_layer_stack.dart:20:10)
E/flutter (27746): #5      CoapAbstractLayer.sendRequest (package:coap/src/stack/coap_abstract_layer.dart:18:15)
E/flutter (27746): #6      CoapReliabilityLayer.sendRequest (package:coap/src/stack/coap_reliability_layer.dart:140:11)
E/flutter (27746): #7      CoapReliabilityLayer.sendRequest.<anonymous closure> (package:coap/src/stack/coap_reliability_layer.dart:137:28)
E/flutter (27746): #8      CoapTransmissionContext._timerElapsed (package:coap/src/stack/coap_reliability_layer.dart:98:20)
E/flutter (27746): #9      _rootRun (dart:async/zone.dart:1182:47)
E/flutter (27746): #10     _CustomZone.run (dart:async/zone.dart:1093:19)
E/flutter (27746): #11     _CustomZone.runGuarded (dart:async/zone.dart:997:7)
E/flutter (27746): #12     _CustomZone.bindCallbackGuarded.<anonymous closure> (dart:async/zone.dart:1037:23)
E/flutter (27746): #13     _rootRun (dart:async/zone.dart:1190:13)
E/flutter (27746): #14     _CustomZone.run (dart:async/zone.dart:1093:19)
E/flutter (27746): #15     _CustomZone.bindCallback.<anonymous closure> (dart:async/zone.dart:1021:23)
E/flutter (27746): #16     Timer._createTimer.<anonymous closure> (dart:async-patch/timer_patch.dart:18:15)
E/flutter (27746): #17     _Timer._runTimers (dart:isolate-patch/timer_impl.dart:397:19)
E/flutter (27746): #18     _Timer._handleMessage (dart:isolate-patch/timer_impl.dart:428:5)
E/flutter (27746): #19     _RawReceivePortImpl._handleMessage (dart:isolate-patch/isolate_patch.dart:168:12)
E/flutter (27746): 
E/flutter (27746): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: NoSuchMethodError: The method 'newMessageEncoder' was called on null.
E/flutter (27746): Receiver: null
E/flutter (27746): Tried calling: newMessageEncoder()
E/flutter (27746): #0      Object.noSuchMethod (dart:core-patch/object_patch.dart:51:5)
E/flutter (27746): #1      CoapEndPoint._serializeRequest (package:coap/src/net/coap_endpoint.dart:225:28)
E/flutter (27746): #2      CoapEndPoint.sendRequest (package:coap/src/net/coap_endpoint.dart:180:21)
E/flutter (27746): #3      CoapStackBottomLayer.sendRequest (package:coap/src/stack/coap_layer_stack.dart:110:21)
E/flutter (27746): #4      CoapNextLayer.sendRequest (package:coap/src/stack/coap_layer_stack.dart:20:10)
E/flutter (27746): #5      CoapAbstractLayer.sendRequest (package:coap/src/stack/coap_abstract_layer.dart:18:15)
E/flutter (27746): #6      CoapReliabilityLayer.sendRequest (package:coap/src/stack/coap_reliability_layer.dart:140:11)
E/flutter (27746): #7      CoapReliabilityLayer.sendRequest.<anonymous closure> (package:coap/src/stack/coap_reliability_layer.dart:137:28)
E/flutter (27746): #8      CoapTransmissionContext._timerElapsed (package:coap/src/stack/coap_reliability_layer.dart:98:20)
E/flutter (27746): #9      _rootRun (dart:async/zone.dart:1182:47)
E/flutter (27746): #10     _CustomZone.run (dart:async/zone.dart:1093:19)
E/flutter (27746): #11     _CustomZone.runGuarded (dart:async/zone.dart:997:7)
E/flutter (27746): #12     _CustomZone.bindCallbackGuarded.<anonymous closure> (dart:async/zone.dart:1037:23)
E/flutter (27746): #13     _rootRun (dart:async/zone.dart:1190:13)
E/flutter (27746): #14     _CustomZone.run (dart:async/zone.dart:1093:19)
E/flutter (27746): #15     _CustomZone.bindCallback.<anonymous closure> (dart:async/zone.dart:1021:23)
E/flutter (27746): #16     Timer._createTimer.<anonymous closure> (dart:async-patch/timer_patch.dart:18:15)
E/flutter (27746): #17     _Timer._runTimers (dart:isolate-patch/timer_impl.dart:397:19)
E/flutter (27746): #18     _Timer._handleMessage (dart:isolate-patch/timer_impl.dart:428:5)
E/flutter (27746): #19     _RawReceivePortImpl._handleMessage (dart:isolate-patch/isolate_patch.dart:168:12)
E/flutter (27746): 
I/flutter (27746): Loaded assets/intl/strings.json

You have seen this before, if you look at issue 11 one of the logs you posted did log this error -
```
E/flutter (29303): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: NoSuchMethodError: The method 'newMessageEncoder' was called on null.
```
This was traced to initiating 2 get requests on the same client, whatever it was you changed your code to fix it. The original get/put test I wrote for  issue 11 is still working for me. Please check again with the code provided in issue 11. Please check previous issues before opening new ones.

Okay, my mistake.
I again checked this issue in both versions, it is not sending 2 get requests, 
I think this issue occurs when the destination host is not reachable. In that case, it continuously tries to retransmit the command. If destination host is not reachable, then it should throw error message that host is unreachable after the retry and should stop retransmitting. 
Is there any method to achieve this?
Please guide. 

From the COAP spec section 4.2 -
```
Another reason for giving up retransmission MAY be the receipt of
   ICMP errors.  If it is desired to take account of ICMP errors, to
   mitigate potential spoofing attacks, implementations SHOULD take care
   to check the information about the original datagram in the ICMP
   message, including port numbers and CoAP header information such as
   message type and code, Message ID, and Token; if this is not possible
   due to limitations of the UDP service API, ICMP errors SHOULD be
   ignored.  Packet Too Big errors [RFC4443] ("fragmentation needed and
   DF set" for IPv4 [RFC0792]) cannot properly occur and SHOULD be
   ignored if the implementation note in Section 4.6 is followed;
   otherwise, they SHOULD feed into a path MTU discovery algorithm
   [RFC4821].  Source Quench and Time Exceeded ICMP messages SHOULD be
   ignored.  Host, network, port, or protocol unreachable errors or
   parameter problem errors MAY, after appropriate vetting, be used to
   inform the application of a failure in sending.
```

From the COAP Implementation Guidelines document section 2.6  -
```
The CoAP implementation can also leverage out-of-band information, that might also trigger some of the transitions shown in Section 2.5. In particular ICMP messages can inform about unreachable remote endpoints or whole network outages. This information can be used to pause or cancel ongoing transmission to conserve energy. Providing ICMP information to the CoAP implementation is easier in constrained environments, where developers usually can adapt the underlying OS (or firmware). This is not the case on general purpose platforms that have full-fledged OSes and make use of high-level programming frameworks.
```

Note that this is only 'desirable', or can be', not mandated, also we would need check that the Dart UDP implementation supports this, I don't think it does, so unless you can point to a specific area of the spec that says we have to do something specific for unreachable errors I'm not going to do anything here. Note that the continual re transmission errors are being handled on #17 

Why do you 'think' this error is caused by unreachable endpoints, do you have definitive evidence of this?

I'll gladly look at  a [pull request from you to address this if you wish otherwise this issue can be closed.

I will check this issue again after solvig issue17.