Blockwise transfer during multicast not working properly

If a Client sends a multicast request and receives a response using blockwise transfer, it seems as if the client is currently not switching to a unicast transfer to handle the remaining blocks (c. f. [RFC 7959, section 2.8](https://datatracker.ietf.org/doc/html/rfc7959#section-2.8)). This causes problems as subsequent blocks will also be requested from the multicast address which leads to an exponential(?) growth of requests and responses (if multiple servers are part of the same group and provide a similar resource) until a final block has been reached while also corrupting the total payload.

I will try to provide a fix for this problem in the upcoming days. 

Revisiting this issue, I noticed that multicast in general does not seem to work properly at the moment as changes are marked as completed once a response is received, for example. This cannot simply be disable, however, as requests are not marked as non-confirmable, which causes servers to respond multiple times to the same request.

I will try to come up with a seperate PR to fix these issues soon.